<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<meta http-equiv="refresh" content="10" >
<HTML lang="ja">
<HEAD>
<%= javascript_include_tag "//www.google.com/jsapi" %>
</HEAD>

<BODY>
<link href="userpage.css" rel="stylesheets"></link>
<form id="form01" action="cgi-bin/example.cgi" method="post">
  <center>
    <input type="search" name="search" size="60" placeholder="クリエイターを検索">
    <input type="submit" name="submit" value="検索" size="30" >
  </center>
</form>
<div class="row">
  <div class="col-sm-2">
    <H3>
      <%= @tests.find(1).name %>さん<br />
      <br />
      所持金:<br /><%= @tests.find(1).syojikin %>円<br /><br />
      支援先:<br /><%= @tests.find(@tokens.find(1).creator_id).name %><br /><br />
  	  あなたのValue<br /><strong><%= @sum*@passtime %></strong>
    </H3>
    <div class="progress">
 <div class="progress-bar" role="progressbar" aria-valuenow="<%@tokens.find(@tests.find(1).id).aglt%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=(@tokens.find(@tests.find(2).id).aglt*100/@tests.find(@tokens.find(4).creator_id).prem_price)%>%;">
    <%=(@tokens.find(@tests.find(2).id).aglt*100/@tests.find(@tokens.find(4).creator_id).prem_price)%>%
 </div>
</div>
  </div>
  <div class="col-sm-7">
    <h3>
    あなたへのおすすめ
    </h3>
    <center>
    <% num = rand(1..16) %>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 550,
      height: 350,
      src: "https://www.youtube.com/embed/#{@movies.find(num).embeded_id}",
      # src: "https://www.youtube.com/embed/#{@movie_id}",
      frameborder: 0,
      allowfullscreen: true
      ) %>
      <%= content_tag(:div, iframe, class: 'youtube-container') %>
      <h3>
        <%= @movies.find(num).title %></br>
        <strong>
          <%= @tests.find(@movies.find(num).creator_id).name %>
        </strong>
      </h3>
      <p>

        <%= form_for Token.new, url:tokens_path do |t| %>
            <%= t.hidden_field :user_id, value: current_user.id %>
            <%=puts(current_user.id)%>
            <%= t.hidden_field :creator_id, value: 5 %>
            <%= t.hidden_field :aglt, value: 100 %>
            <%=puts(@movies.find(20).creator_id)%>
            <%= t.submit "100円", class:"btn btn-danger"%>
        <% end %>

        <%= form_for Token.new, url:tokens_path do |t| %>
            <%= t.hidden_field :user_id, value: current_user.id %>
            <%=puts(current_user.id)%>
            <%= t.hidden_field :creator_id, value: @movies.first.creator_id %>
            <%= t.hidden_field :aglt, value: 50 %>
            <%=puts(@movies.first.creator_id)%>
            <%= t.submit "50円", class:"btn btn-warning"%>
        <% end %>

        <%= form_for Token.new, url:tokens_path do |t| %>
            <%= t.hidden_field :user_id, value: current_user.id %>
            <%=puts(current_user.id)%>
            <%= t.hidden_field :creator_id, value: @movies.first.creator_id %>
            <%= t.hidden_field :aglt, value: 10 %>
            <%=puts(@movies.first.creator_id)%>
            <%= t.submit "10円", class:"btn btn-info"%>
        <% end %>
      </p>
    <div class="row">
      <div class="col-sm-6">
      	<center>
          <% num = rand(1..20) %>
          <% iframe = content_tag(
          :iframe,
          '', # empty body
          width: 300,
          height: 200,
          src: "https://www.youtube.com/embed/#{@movies.find(num).embeded_id}",
          # src: "https://www.youtube.com/embed/#{@movie_id}",
          frameborder: 0,
          allowfullscreen: true
          ) %>
          <%= content_tag(:div, iframe, class: 'youtube-container') %>
          <h4>
          <%= @movies.find(num).title %> </br>
          <strong>
            <%= @tests.find(@movies.find(num).creator_id).name %>
          </strong>
          </h4>
      </div>
      <div class="col-sm-6">
      	  <% num = rand(1..20) %>
      	  <% iframe = content_tag(
          :iframe,
          '', # empty body
          width: 300,
          height: 200,
          src: "https://www.youtube.com/embed/#{@movies.find(num).embeded_id}",
          # src: "https://www.youtube.com/embed/#{@movie_id}",
          frameborder: 0,
          allowfullscreen: true
          ) %>
          <%= content_tag(:div, iframe, class: 'youtube-container') %>
          <h4>
            <%= @movies.find(num).title %> </br>
            <strong>
              <center>
                <%= @tests.find(@movies.find(num).creator_id).name %>
              </center>
            </strong>
          </h4>
        </center>
      </div>
    </div>

  <div class="col-sm-3">
      <H3>Youtuberランキング@T2pay</H3>
      <table class="table">
        <thead>
          <tr class = "danger">
            <th>順位</th>
            <th>Youtuber</th>
            <th>金額</th>
          </tr>
        </thead>
        <tbody>
          <% @rank.length.times do |i| %>
          <tr>
            <th><%= i+1 %>
                <td>
                <%= link_to @rank[i][0], @tests.find(@rank[i][2].to_i).ytube_page %>
                </td>
                <td>
                <%= @rank[i][1] %>円
                </td>
            </th>
          </tr>
          <% end %>
        </tbody>
    </div>
  </div>

</div>
</BODY>
</HTML>
