<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<meta http-equiv="refresh" content="10" >
<HTML lang="ja">
<HEAD>
<%= javascript_include_tag "//www.google.com/jsapi" %>
</HEAD>

<BODY>
<link href="userpage.css" rel="stylesheets"></link>
<form id="form01" action="cgi-bin/example.cgi" method="post">
  <center>
    <input type="search" name="search" size="60" placeholder="クリエイターを検索">
    <input type="submit" name="submit" value="検索" size="30" >
  </center>
</form>
<div class="row">
  <div class="col-sm-2">
    <H4>
      ユーザー: <%= @tests.find(1).name %><br />
      所持金: <%= @tests.find(1).syojikin %>円<br />
      支援先：<%= @tests.find(@tokens.find(1).creator_id).name %><br />
  	<H4>  <%= @sum*@passtime %> Value</H4></div>
  <div class="col-sm-7">
  	あなたへのおすすめ
    <center>
    <% num = rand(1..16) %>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 550,
      height: 350,
      src: "https://www.youtube.com/embed/#{@movies.find(num).embeded_id}",
      # src: "https://www.youtube.com/embed/#{@movie_id}",
      frameborder: 0,
      allowfullscreen: true
      ) %>
      <%= content_tag(:div, iframe, class: 'youtube-container') %>
      </center>
    <div class="row">
      <div class="col-sm-6">
      	<center>
          <% num = rand(1..16) %>
          <% iframe = content_tag(
          :iframe,
          '', # empty body
          width: 300,
          height: 200,
          src: "https://www.youtube.com/embed/#{@movies.find(num).embeded_id}",
          # src: "https://www.youtube.com/embed/#{@movie_id}",
          frameborder: 0,
          allowfullscreen: true
          ) %>
          <%= content_tag(:div, iframe, class: 'youtube-container') %>
          <%= @movies.find(num).title %> </br>
          <%= @tests.find(@movies.find(num).creator_id).name %>
      </div>
      <div class="col-sm-6">
      	  <% num = rand(1..16) %>
      	  <% iframe = content_tag(
          :iframe,
          '', # empty body
          width: 300,
          height: 200,
          src: "https://www.youtube.com/embed/#{@movies.find(num).embeded_id}",
          # src: "https://www.youtube.com/embed/#{@movie_id}",
          frameborder: 0,
          allowfullscreen: true
          ) %>
          <%= content_tag(:div, iframe, class: 'youtube-container') %>
          <%= @movies.find(num).title %> </br>
          <%= @tests.find(@movies.find(num).creator_id).name %>
          </center>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <H4>Youtuberランキング@T2pay</H4></br>
    <H3>
    <% @rank.length.times do |i| %>
     <%= @rank[i][0] %>：
     <%= @rank[i][1] %>円</br>
     <% end %>
    </H3></br>
  </div>
</div>
</BODY>
</HTML>
