<h1>投げ銭する</h1>

<%= form_for @token, url:tokens_path do |t| %>

    <%= t.label :user_id,"自分のユーザID" %>
    <%= t.text_field :user_id, :value =>1  %>
    </br>

    <%= t.label :creator_id,"クリエイターID（投げ銭する人）" %>
    <%= t.text_field :creator_id, :value =>5 %>
    </br>

    <%= t.radio_button :aglt, 10 %> 10円
    <%= t.radio_button :aglt, 50 %> 50円
    <%= t.radio_button :aglt, 100 %> 100円

  </br>
</bt>

    <%= t.submit "ZENIを投げる！"%>



<% end %>
